@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'M PLUS 1 Code', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 500;
}


:root {
    --bgC: #d8ff62;
    --borC: #000000;
}

/*  */

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.flexc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fbreak {
    flex-basis: 100%;
    height: 0;
}

.noscroll {
    overflow: hidden;
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: inherit;
}




/*  */
.container {
    /* background: #efe1ff; */
    justify-content: flex-start;
    align-items: flex-start;
    /* background: #f1f1f1; */
    /* padding: 30px 0px; */
    width: 100%;
    height: 100vh;
}

h1 {
    text-align: center;
}


.canvas_con {
    padding: 30px 50px;
}

.canvas_title,
.clasification_title {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}

.canvas_wrap {
    position: relative;
    border: 3px solid var(--borC);
    width: fit-content;
    user-select: none;
}

.canvas_preview_img {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    /* width: 100px; */
    height: 50px;
    object-fit: contain;

    border: 2px solid #cdcdcdcd;
}

.canvas {
    display: block;
    background: var(--bgC);
    /* width: 40%;
    height: 300px; */
    /* cursor: url('https://img.icons8.com/ios/50/000000/pencil-tip.png'), pointer; */

}


.clear_canvas,
.down_btn {
    background: var(--borC);
    width: fit-content;
    padding: 10px 15px;
    font-family: inherit;
    font-size: 17px;
    color: #ffffff;

    transition: .2s all ease;
    cursor: pointer;
}

.clear_canvas:hover {
    /* background: #dddddd; */
    opacity: 0.8;
}



.clasification_con {
    /* background: #ffffff; */
    padding: 30px 50px;
    width: 100%;
    padding-left: 0px;
}

.clasification_wrap {
    justify-content: flex-start;
    flex-wrap: wrap;

}

.clasification_digit_box {
    /* background: var(--bgC); */
    background: #ececec;
    width: 130px;
    height: 130px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    border: 3px solid var(--borC);
    border-radius: 2px;
}