@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'M PLUS 1 Code', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 500;
}


:root {
    --bgC: #00000026;
    --borC: #000000;
}

/*  */

* {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Silkscreen', cursive;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.flexc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fbreak {
    flex-basis: 100%;
    height: 0;
}

.noscroll {
    overflow: hidden;
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: inherit;
}




/*  */
.container {
    background: #d8ff62;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
}

h1 {
    text-align: center;
}


.canvas_con {
    padding: 30px 50px;
}

.canvas_title,
.clasification_title {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}

.canvas_wrap {
    position: relative;
    border: 3px solid var(--borC);
    width: fit-content;
    user-select: none;
}

.canvas_preview_img {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    /* width: 100px; */
    height: 50px;
    object-fit: contain;

    /* border: 2px solid #cdcdcdcd; */
}

.canvas {
    display: block;
    background: var(--bgC);
    /* width: 40%;
    height: 300px; */
    cursor: url('https://img.icons8.com/ios/50/000000/pencil-tip.png'), pointer;
}


.clear_canvas {
    background: var(--borC);
    width: fit-content;
    padding: 15px 25px;
    font-family: inherit;
    font-size: 17px;
    color: #ffffff;

    transition: .2s all ease;
    cursor: pointer;
    user-select: none;
}

.clear_canvas:hover {
    /* background: #dddddd; */
    opacity: 0.8;
}



.clasification_con {
    /* background: #ffffff; */
    padding: 30px 50px;
    width: 100%;
    padding-left: 0px;
}

.clasification_wrap {
    justify-content: flex-start;
    flex-wrap: wrap;

}

.clasification_digit_box {
    /* background: #ececec; */
    background: var(--bgC);

    width: 120px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    border: 3px solid var(--borC);
    border-radius: 2px;

    transition: 0.2s all ease;
}

.clasification_digit_box_active {
    background: #00000080;
    /* color: var(--bgC); */
    /* border: 3px solid var(--bgC); */
}

.author_credit {
    width: fit-content;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
}

.myPortfolio_link {
    transition: 0.2s all ease-in-out;
}

.myPortfolio_link:hover {
    color: #71fcaa;
}

/* Media Query */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width:481px),
screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1980px) {
    .clasification_digit_box {
        width: 130px;
        height: 130px;
    }
}